<%- include("partials/_header") %> 
<%- include("partials/_navigation") %>

<div class="container">
  <div class="blog_section_2 layout_padding">
    <div class="row">
    <% for(let i=0;i<furnitureCategories.length;i++) { %>
      <div class="col-lg-4 col-md-4 col-sm-12">
                           <div class="blog_box">
                           <div class="blog_img"><a href="#"><img src="images/blog-img1.png"></a></div>
                           <p class="chair_text"><%= furnitureCategories[i].title %></p>
                        
                         </div>
                      </div>
        <% } %>
      </div>
    </div>
  </div>
  
</div>

<%- include("partials/_footer") %>
